.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-main {
  flex: 1;
  outline: none;
}

.app-main:focus {
  outline: none;
}

.app-main[tabindex="-1"]:focus {
  outline: none;
}
